* 
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin:0;
  text-decoration: none;
  list-style: none;
}
.container
{
  padding-top: 80px;
  background-image: url("img/background2.jpg");
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
}
.navbar
{
  position:fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height:80px;
  width:100%;
  background-color: whitesmoke;
  background-image: none;
  box-shadow: 4px 4px 4px black;
  border-radius: 10px;
}
.navbar ul
{
  display:flex;
  flex-direction: row;
  background-color: white;
  background-image: none;
  color: red;

}
.navbar .navitem
{
  color: black;
  font-size:large;
  font-weight: 550;
}
.navbar ul li
{
  display:flex;
  flex-direction: row;
  justify-content: space around;
  background-image: none;
  background-color: white;
  margin:0 70px;
}
.logo
{
  height: 160px;
  width: 300px;
  background-color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 6em;
  color:  #82e0aa ;
}
h1
{
  padding: 80px;
  font-style: bold;
  font-size: 3em;
  color:  #82e0aa;
  text-shadow: 1px 1px 5px black;

}
#presAVIA
{
  padding-left:80px;
  padding-right: 55%;
}
#presAVIA p, strong, em 
{
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 1px 1px 5px black;
}
.button {
  margin-left: 80px;
  background-color: #82e0aa;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.grayback
{
  height: 1000px;
  width: 100%;
  background-color: gray;
}
.section_rubrique
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.rubrique
{
  margin-top: 50px;
  height: 350px;
  width: 350px;
  background-color: green;
  border:solid white;
}
.destimg
{
  height: 350px;
  width: 350px;
}
.h2ynd
{
  display: flex;
  justify-content: center;
  color:#82e0aa; 
}
/*
.baliback
{
  padding-top: 80px;
  background-image: url("../img/bali.jpg");
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
}
.nepalback
{
  padding-top: 80px;
  background-image: url("../img/nepal.jpg");
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
}
.nzback
{
  padding-top: 80px;
  background-image: url("../img/nz.jpg");
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
}

.vietnamback
{
  padding-top: 80px;
  background-image: url("../img/vietnam.jpg");
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
}
*/
.h1des
{
  padding-top: 200px;
}
.tab
{
  display: inline-block;
}
table
{
  border-collapse: collapse
}

td
{
  border: 1px solid black;
  padding: 10px;
}

