@font-face {
    font-family: "HK Grotesk Medium";
    src: url(HKGrotesk-Medium.otf) format(truetype);
  }
  * 
  {
    font-family: "HK Grotesk Medium";
    margin:0;
    padding:0;
  }
  body
  {
    background-color: gray;
  }
  ul
  {
    background-color: whitesmoke;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h1, h2, h3, h4, h5, h6
  {
    margin: 20px;
  }
  p
  {
    margin-top: 10px;
  }
  img
  {
    width: 100%;
    padding: 100px 0px 100px 0px;
  }