@font-face {
    font-family: "HK Grotesk Medium";
    src: url(../FONT/HKGrotesk-Medium.otf) format(truetype);
}

@font-face {
    font-family: "Supreme Extrabold Italic";
    src: url(../FONT/Supreme-ExtraboldItalic.otf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "HK Grotesk Medium";
}

body {
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: white;
    font-size: 1.7%;
}

.headerol {
    color: black;
    display: flex;
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: center;
}

ol li .hbel a {
    font-weight: 600;
}

ol li .hbel a:hover {
    color: blueviolet;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

ol li .logo {
    font-family: "Supreme Extrabold Italic";
    font-size: 3vw;
    color: blueviolet;
}

ol li .logo:hover {
    color: aquamarine;
}

.pres {
    width: 100%;
    height: 100%;
}

.trainvideo {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

h1 {
    font-size: 8vw;
    padding: 10vw;
    padding-bottom: 0vw;
}

p {
    padding-left: 15vw;
    padding-top: 3vw;
    padding-right: 50%;
}

.lorem {
    margin-left: 15vw;
    margin-top: 8vw;
    padding: 0.8vw 3vw 0.8vw 3vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: aquamarine;
    color: blueviolet;
    font-size: 1.7vw;
}

.lorem:hover {
    background-color: blueviolet;
    color: aquamarine;
}

.button {
    padding: 0.8vw 3vw 0.8vw 3vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: aquamarine;
    color: blueviolet;
    font-size: 1.7vw;
    font-weight: 600;
}

.button:hover {
    background-color: blueviolet;
    color: aquamarine;
}

.bouton {
    display: block;
    margin-top: 3vw;
}

form {
    margin: 10vw 0vw 0vw 0vw;
}

label {
    background-color: blueviolet;
    display: inline-block;
    border-radius: 0.5vw;
    text-align: center;
    width: 15vw;
    color: aquamarine;
    margin-top: 1vw;
    padding: 0.8vw 3vw 0.8vw 3vw;
    font-size: 1.3vw;
}

input {
    display: inline-block;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    border: none;
    width: 15vw;
    color: black;
    margin-top: 1vw;
    padding: 0.8vw 3vw 0.8vw 3vw;
}

.button-login {
    padding: 0.8vw 3vw 0.8vw 3vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: aquamarine;
    color: blueviolet;
    font-size: 1.7vw;
}

.button-sign-up {
    padding: 0.8vw 3vw 0.8vw 3vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: aquamarine;
    color: blueviolet;
    font-size: 1.7vw;
}

.button-sign-up:hover {
    color: aquamarine;
    background-color: blueviolet;
}

.button-login:hover {
    color: aquamarine;
    background-color: blueviolet;
}

.espace {
    margin-top: 20px;
    justify-content: space-around;
    padding-top: 2vw;
    display: flex;
}

.formulaire {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.forgotpass p {
    width: 200px;
    position: absolute;
    padding: 0px 0px 0px 0px;
}

.forgotpass p:hover {
    text-decoration: underline;
}

footer .footersection {
    background-color: white;
    margin-top: 20vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footerul {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.dernierul ul {
    color: gray;
    font-style: italic;
    padding: 0vh 0vh 0vh 0vh;
    font-size: 1.3vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.underfoot:hover {
    text-decoration: underline;
    cursor: grab;
}

.CGUU {
    background-color: transparent;
    display: inline-block;
    border-radius: 0.5vw;
    width: 20vw;
    padding: 1px;
    color: blueviolet;
    margin-top: 1vw;
    font-size: 0.8vw;
}

.CGUU:hover {
    text-decoration: underline;
}
/********* TABLEAU QUI N'APPARAIT PAS ***********/
.tableau1
{
    display:none;
}
/********* Style du Tableau *********/
.tableau {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.tableau td,
.tableau th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


.tableau tr:nth-child(odd) {
    color: black;
    background-color: rgb(233, 217, 248);
}

.tableau tr:nth-child(even) {
    color: black;
    background-color: rgb(216, 251, 239);
}

.tableau th {
    color: black;
    background-color: whitesmoke;
}

/************* aboutus.html**********/
.nous
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.nous h2, h3, h4, h5 {

    margin: 40px;
}
.nous h2
{
    font-size: 35px;
}
.nous h3
{
    font-size: 30px;
}
.nous h4
{
    font-size: 25px;
}
.nous h5
{
    font-size: 20px;
}
.nous h6
{
    margin-top: 30px;
    font-size: 25px
}